.navbar-component {
  display: flex;
  background-color: #ffffff;
  flex-direction: row;

  .navbar-log {
    font-family: boldTitles;
    padding-left: 50px;
    padding-right: 10px;
    align-items: center;

    h1 {
      font-size: 50px;
    }

    span {
      color: #39d3e3;
    }
  }

  .nav-main {
    display: flex;
    flex-direction: row;
    flex: 1;

    .nav-list {
      font-family: boldTitles;
      list-style-type: none;
      display: inline-flex;
      margin-bottom: 0px;
      flex: 1;

      .nav-item-none-selected {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 15px;
        // border-radius: 30px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        color: #333333;
        font-size: 17px;
      }

      .nav-item-selected {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 15px;
        border-radius: 30px;
        // background-color: #ffffff;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        color: rgb(119, 51, 207);
        font-weight: bold;
        font-size: 17px;
        text-decoration: underline 3px;
        text-underline-offset: 6px;
      }
    }

    .nav-tool {
      flex-direction: row;

      .nav-notification {
        align-items: center;

        .notification-icon {
          height: 60px;
        }

        img {
          width: 60px;
          height: 60px;
        }
      }

      .nav-user {
        border-radius: 12px;
        border: 2px solid #d9dbe9;
        margin: 22px;
        padding: 10px;
        flex-direction: row;
        cursor: pointer;

        .nav-user-text {
            padding: 5px 8px 5px 5px;
            flex-direction: column;
            justify-content: center;
            
            .nav-user-name {
                font-size: 14px;
                font-family: boldTitles;
                margin: 0px;
              }
      
              .nav-user-status {
                font-size: 12px;
                font-family: regularText;
                text-align: right;
              }
        }

        img {
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}
